<section class="header">
  <div class="logo"><a href="/"><img src="/images/spencer-logo-6.svg"></a></div>
  <div class="menu"><a href="/reading">Reading List</a></div>
  <div class="menu"><a href="/recommended">Recommended Books</a></div>
  <div class="menu"><a href="/next">What Should I Read Next?</a></div>
</section>
