<section>
  <div class="header">
    <div><a  href="/"><img src="/images/spencer-lanoue-150x150.jpeg" style="max-width: 75px;"></a></div>
    <div><h1><a href="/">Spencer Lanoue</a></h1></div>
  </div>
  <div class="navigation">
    <div><a href="/recommended-books">Recommended Books</a></div>
    <div><a href="/reading">What I'm Reading</a></div>
    <div><a href="/what-should-i-read-next">What Should I Read Next?</a></div>
  </div>
</section>
