<section>
  <h1>{{title}}</h1>

  <ul>
    <li><a href="/stanford">Stanford desk graffiti: Anonymous notes from young, ambitious college students</a></li>
    <li><a href="/next">What should I read next? The resources I use to find great books</a></li>
  </ul>

</section>
