<section>
  <h1>The Best Things I've Read, Watched and Listened To</h1>

  <p>These are the best things I’ve read, watched, and listened to. I don’t agree with all of them, but each one provoked in me a great deal of thought and feeling, and I can highly recommend you explore them too.</p>

  <ul>
    <li><a href="http://worrydream.com/ClimateChange/" target="_blank">What can a technologist do about climate change?</a></li>
  </ul>
</section>
