<section>
  <h2>Code for spencerlanoue.com</h2>

  <p>All the code for spencerlanoue.com is <a href="https://github.com/slanoue/spencerlanoue.com" target="_blank">open source on GitHub</a></p>

  <p>This site runs on <a href="https://nodejs.org/" target="_blank">Node</a> & <a href="https://expressjs.com/" target="_blank">Express</a>, and uses <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a> for the templating engine.</p>

  <p>It's the same stack we use to power the <a href="https://buffer.com" target="_blank">Buffer marketing pages</a>, and I use this site to experiment with new things and sharpen the blade.</p>
</section>
