<h2>Code for spencerlanoue.com</h2>
<p>
  Currently switching this site from a pure static HTML site to a Node.js/Express app using Handlebars as the templating engine.
</p><p>
  Once I make a few final changes I'll upload the project to GitHub and share the full code base here.
</p><p>
  Check back soon!
</p>
