<ul>
  <li><a href="/reading">Books I'm Reading</a></li>
  <li><a href="/what-should-i-read-next">What Should I Read Next?</a></li>
  <li><a href="/recommended-books">Recommended Books</a></li>
  <li><a href="/best-things">The Best Things I've Read, Watched, and Listened To</a></li>
  <li><a href="/reading-lists">Reading Lists</a></li>
  <li><a href="/projects">Projects</a></li>
</ul>











































<!--
<section id="me-in-10-seconds">
  <h2>Me in 10 seconds</h2>
  <p>
    I've been an <a href="http://www.wcpoets.com/sports/bsb/2008-09/Bios/Spencer_Lanoue?view=bio" target="_blank">athlete</a>, <a href="https://www.usfca.edu/" target="_blank">student of organizational behavior</a>, <a href="http://www.sigmanu.org/about-us/the-creed-of-sigma-nu-fraternity" target="_blank">sigma nu</a>, <a href="https://buffer.com/about/team#spencer" target="_blank">startup marketer</a>, husband, and now a father.
  </p><p>
    I helped build and grow <a href="https://buffer.com/" target="_blank">three</a> <a href="https://buffer.com/respond/" target="_blank">SaaS</a> <a href="https://www.usertesting.com/" target="_blank">startups</a> in Silicon Valley. Now I work remotely at <a href="http://buffer.com" target="_blank">Buffer</a> - a software company with an innovative <a href="https://www.slideshare.net/Bufferapp/buffer-culture-06-with-a-change-to-be-a-no-ego-doer" target="_blank">culture</a>, who's pioneering the <a href="https://buffer.com/transparency" target="_blank">future of work</a>.
  </p><p>
    I'm fascinated with <a href="https://www.amazon.com/Rework-Jason-Fried/dp/0307463745/" target="_blank">business</a>, <a href="https://www.amazon.com/Strategies-War-Joost-Elffers-Books/dp/0143112783/" target="_blank">strategy</a>, <a href="https://www.amazon.com/Obstacle-Way-Timeless-Turning-Triumph/dp/1591846358/" target="_blank">practical philosophy</a>, and how to apply the principles of <a href="https://www.amazon.com/Peak-Secrets-New-Science-Expertise/dp/0544947223/" target="_blank"> deliberate practice</a> to <a href="https://www.amazon.com/Deep-Work-Focused-Success-Distracted/dp/1455586692/" target="_blank">the world of knowlege work</a>. I love figuring out <a href="https://www.amazon.com/Mans-Search-Meaning-Viktor-Frankl/dp/080701429X/" target="_blank">what makes people tick</a>.
  </p><p>
      <a href="http://www.gallup.com/businessjournal/694/learner.aspx" target="_blank">Learner</a>. <a href="./books" target="_blank">Avid reader</a>. Student of <a href="https://www.amazon.com/Meditations-New-Translation-Modern-Library-ebook/dp/B000FC1JAI/" target="_blank">Stoicism</a> and the <a href="http://www.bahai.org/" target="_blank">Baha'i Faith</a>.
  </p><p>
    <a href="https://www.amazon.com/Essentialism-Disciplined-Pursuit-Greg-McKeown/dp/0804137382/" target="_blank">Live simply</a>. <a href="https://www.amazon.com/Good-They-Cant-Ignore-You/dp/1455509124/" target="_blank">Master rare and valuable skills</a>. <a href="https://www.amazon.com/Anything-You-Want-Lessons-Entrepreneur/dp/1591848261/" target="_blank">Provide a useful service to others</a>. Happiness visits us when we forget ourselves and <a href="http://reference.bahai.org/en/t/ab/PT/pt-56.html" target="_blank">focus on helping other people</a>.
  </p><p>
    <strong>What am I doing now?</strong> <a href="./now">See my "now" page</a>, which changes often.
  </p>
</section>

<section id="projects">
  <h2>Projects <small id="see-all"><a href="./projects">see all</a></small></h2>
  <dl>
    <dt><strong><a href="./books">Book Notes</a></strong></dt>
    <dd>Detailed notes from the books I've read</dd>
    <br>
    <dt><strong><a href="./compilations">Compilations</a></strong></dt>
    <dd>Collections of passages I've compiled during my reading and research</dd>
    <br>
    <dt><strong><a href="./code">spencerlanoue.com</a></strong></dt>
    <dd>The hand-crafted JavaScript code that makes this site</dd>
  </dl>
</section>

<section id="search">
    <h2>Search</h2>
    <form action="https://www.google.com/search" method="get">
        <label for="q">Search spencerlanoue.com for anything:</label>
        <br><br>
        <input type="text" name="q" value="">
        <input type="hidden" name="sitesearch" value="spencerlanoue.com">
        <input type="submit" value="search">
    </form>
    <br><br>
</section>
-->
