<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{#if title}}{{title}} - {{/if}}Spencer Lanoue</title>
    <meta name="description" content="{{description}}">

    {{> core/social}}

    <!-- Add fonts here:
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    {{> header }}

    {{{body}}}

    {{> footer }}

    <!-- Link JavaScript file here:
      <script type="text/javascript" src="scripts.js"></script>
    -->
  </body>
</html>
