<section>
  <h1>{{title}}</h1>
  <date>{{date}}</date>

  <p>I’ve <a href="/reading">loved to read</a> ever since I can remember.</p>

  <p>And every time I finish a book, I end up asking myself the same question: what should I read next?</p>

  <p>After going through this enough times, I realized I needed a way to make it easier to discover great books, get recommendations from people I trust, and decide what my next book will be.</p>

  <p>That's why I put together this list.</p>

  <p>If you find yourself in the same boat, trying to figure out what you should read next, here are the resources I personally use. Some of them are <em>places</em> you can go and browse. Others are <em>people</em> whose taste I respect and who’ve recommended some amazing books I would have probably never found otherwise.</p>

  <p>Over the last 6 years, these sources have helped me find almost every book that’s had a meaningful impact on my thinking in business and life. I hope this list helps you find a book that does the same for you.</p>

  <hr>

  <h2>Check out bibliographies of books you’re already reading and enjoying</h2>

  <p>In the bibliography, the author includes references to all the source material they used. So if you liked a particular book, you essentially have a vetted list of books on a similar topic.</p>

  <h2><a href="https://ryanholiday.net/reading-newsletter/" target="_blank">Ryan Holiday’s book recommendations</a></h2>

  <p>Ryan was Robert Greene’s book researcher, VP of marketing at American Apparel, has done the marketing for best-selling authors (like Tucker Max, Tim Ferriss, Tony Robbins, and others). And he’s written a few <a href="http://amzn.to/2nQazcD" target="_blank">best-selling books himself</a>. Once a month he sends out an <a href="https://ryanholiday.net/reading-newsletter/" target="_blank">email with reading recommendations</a>, which I’ve been getting for years. I personally enjoy his taste in books and it’s one of the only email newsletters I look forward to. He’s also curated a <a href="https://ryanholiday.net/reading-list/" target="_blank">reading list</a> of the seminal books that have shaped his own life.</p>

  <h2><a href="http://www.daniellemorrill.com/recommended-books/" target="_blank">Danielle Morrill’s recommended books</a></h2>

  <p>Danielle is the founder of Mattermark, and she’s published <a href="http://www.daniellemorrill.com/recommended-books/" target="_blank">a list of books</a> that have had an outsized impact on her thinking in life and business. Like some of the other resources on this page, this list tends to skew more towards tech/startup-related books. But again, if you’re interested in learning about business there are some books here that can provide tremendous value.</p>

  <h2><a href="http://tim.blog/2014/10/29/the-books-that-shaped-billionaires-mega-bestselling-authors-and-other-prodigies/" target="_blank">Books recommended on the Tim Ferriss Show</a></h2>

  <p>On his podcast, Tim interviews world-class performers from eclectic areas (investing, sports, business, art, etc.) and asks each of his guests about their favorite books. He’s curated this list into a post called <a href="http://tim.blog/2014/10/29/the-books-that-shaped-billionaires-mega-bestselling-authors-and-other-prodigies/" target="_blank">The Unusual Books That Shaped Billionaires, Mega-Bestselling Authors, and Other Prodigies</a>. You can find an even more complete list <a href="http://tim.blog/2016/12/10/the-unusual-books-that-shaped-50-billionaires-mega-bestselling-authors-and-other-prodigies/" target="_blank">here</a>. Tim has also bought the rights to a few books that have changed his life, which he’s published in the <a href="http://tim.blog/books/" target="_blank">Tim Ferriss Book Club</a>.</p>

  <h2><a href="http://andrewchen.co/ten-classic-books-that-define-tech/" target="_blank">Andrew Chen’s list classic books that define tech</a></h2>

  <p>Andrew runs the supply growth team at Uber, and made a <a href="http://andrewchen.co/ten-classic-books-that-define-tech/" target="_blank">definitive list of books</a> that he recommends as the classics for tech products and business. These books tend to be older, and are the ones that have stood the test of time.</p>

  <h2>Browse <a href="http://amzn.to/2nkWy2v" target="_blank">Amazon</a> book recommendations</h2>

  <p>Go to a book you’ve <em>already</em> read and that you really liked. Then scroll down to the <em>"Customers who bought this item also bought”</em> section – you’ll find a bunch of related books. Find one that catches your attention and check it out. Go to it’s Amazon page and repeat the same process. If you keep doing this, it’ll take you down a rabbit hole where you’ll likely find a few different books you want to read.</p>

  <h2><a href="https://sivers.org/book" target="_blank">Derek Sivers’ book recommendations</a></h2>

  <p>Derek was a full-time musician for many years before starting a company called CD Baby, which was the largest seller of independent music online. I find his thinking to be extremely clear and his ideas to be the opposite of what most people think – which is really refreshing. He’s taken <a href="https://sivers.org/book" target="_blank">notes on over 200 books</a> and publishes them on his site.</p>

  <h2>Browse the aisles of a bookstore</h2>

  <p>Go to a physical bookstore and browse the stacks looking for anything that catches your attention. I do this regularly at my local bookshop, and I try to find cool new independent book stores when I’m traveling. Every once in a while I find random and amazing books at airport gift shops too, although that one’s pretty hit-or-miss.</p>

  <h2><a href="https://www.gatesnotes.com/Books#All" target="_blank">Bill Gates’ book reviews</a></h2>

  <p>This is an amazing resource, particularly for books about global health and philanthropy. Bill shares his <a href="https://www.gatesnotes.com/Books#All" target="_blank">reviews of the books he reads</a>, and curates <a href="https://www.gatesnotes.com/Books#ReadingLists" target="_blank">reading lists on various themes</a>. You can filter by the following topics: <a href="https://www.gatesnotes.com/Books#Business" target="_blank">business</a>, <a href="https://www.gatesnotes.com/Books#Education" target="_blank">education</a>, <a href="https://www.gatesnotes.com/Books#Energy" target="_blank">energy</a>, <a href="https://www.gatesnotes.com/Books#Philanthropy" target="_blank">philanthropy</a>, <a href="https://www.gatesnotes.com/Books#Politics" target="_blank">politics</a>, <a href="https://www.gatesnotes.com/Books#Health" target="_blank">health</a>, and <a href="https://www.gatesnotes.com/Books#Science" target="_blank">science</a>.</p>

  <p>On a side note, I find it intriguing that a man who never has to worry about money for the rest of his life has decided to spend his time reading books, writing reviews, and sharing his book recommendations.</p>

  <h2>Ask people if they’ve read any good books lately</h2>

  <p>I generally ask two groups of people: (a) friends and family who are also read a lot of books, and (b) new people I meet. I like asking new people because it exposes me to new information and topics I might not have found out about if I'd just asked my friends. This questions is also a great conversation starter.</p>

  <h2><a href="https://www.pinterest.com/bufferapp/buffer-books/" target="_blank">Books that the Buffer team is reading</a></h2>

  <p>At Buffer, reading is a huge part of our culture of continuous self-improvement. And one of the perks of working here is that we get free books, no questions asked. <a href="https://www.pinterest.com/bufferapp/buffer-books/" target="_blank">Our team keeps a running list of the books we’re all reading</a> which have been distilled into <a href="https://open.buffer.com/buffers-favorite-books-2016/" target="_blank">our favorite books from 2016</a> and <a href="https://open.buffer.com/top-books-2015/" target="_blank">2015</a>. Our Director of Marketing, Kevan Lee, put together a list of <a href="https://blog.bufferapp.com/best-marketing-business-books" target="_blank">30 great books for business and marketing</a>. And founder Joel Gascoigne published a list of the <a href="http://joel.is/50-books-that-transformed-my-business-and-my-life/" target="_blank">50 books that have had the biggest impact on his business and life</a>.</p>

  <h2>Email/tweet people you respect and ask for book recommendations</h2>

  <p>This one’s fairly straight forward. Find the email or Twitter handle of someone you respect or admire or think has good taste. Then ask them if they can recommend any good books or if they’ve read any good books lately. You’ll be surprised how many people respond back.</p>

  <h2><a href="https://www.producthunt.com/e/most-upvoted-in-books" target="_blank">Product Hunt Book Collections</a></h2>

  <p>These tend to be more tech/startup focused, so they’re not for everyone. But if you’re interested in learning more about business, you can find some interesting books curated by the tech community in the <a href="https://www.producthunt.com/e/most-upvoted-in-books" target="_blank">‘Most Upvoted’ section</a>, <a href="https://www.producthunt.com/e/books-for-founders" target="_blank">Books for Founders</a>, <a href="https://www.producthunt.com/@mcuban/collections/great-books-for-entrepreneurs" target="_blank">Great Books for Entrepreneurs</a> (curated by Mark Cuban), <a href="https://www.producthunt.com/e/these-books-will-make-you-smarter" target="_blank">These Books Will Make You Smarter</a>, <a href="https://www.producthunt.com/e/best-startup-growth-books" target="_blank">Best Startup Growth Books</a>, <a href="https://www.producthunt.com/@bentossell/collections/21-books-by-billionaires" target="_blank">21 Books by Billionaires</a>, <a href="https://www.producthunt.com/e/elon-musk-s-favorite-books" target="_blank">Elon Musk’s Favorite Books</a>, and <a href="https://www.producthunt.com/@naval/collections/naval-s-book-recommendations" target="_blank">Naval Ravikant’s Book Recommendations</a> (founder of Angel List).</p>

  <h2><a href="https://www.farnamstreetblog.com/reading/" target="_blank">The Farnam Street reading list</a></h2>

  <p>Shane Parrish is the author of the amazing blog Farnam Street, and he keeps a running <a href="https://www.farnamstreetblog.com/reading/" target="_blank">list of books he’s reading</a>. He’s also put together a list of <a href="https://www.farnamstreetblog.com/2013/11/books-that-changed-my-life/" target="_blank">books that changed his life</a>, <a href="https://www.farnamstreetblog.com/2016/12/16-best-books-2016/" target="_blank">his favorite books of 2016</a>, <a href="https://www.farnamstreetblog.com/2016/09/books-recommend-someone-read-improve-general-knowledge-world/" target="_blank">books to improve your general knowledge of the world</a>, and <a href="https://www.farnamstreetblog.com/2016/12/best-books-2016/" target="_blank">the best books of 2016 according to his readers</a>.</p>

  <h2><a href="http://www.nateliason.com/lessons/" target="_blank">Nat Eliason’s lessons, notes, and reviews of books</a></h2>

  <p>I first heard of Nat when he was working at Noah Kagan’s company, <a href="https://sumo.com/" target="_blank">Sumo</a>. He also runs a course that teaches <a href="http://www.programmingformarketers.com/" target="_blank">programming to marketers</a> and <a href="http://www.nateliason.com/blog/" target="_blank">writes</a> thoughtful articles I enjoy reading. He also keeps <a href="http://www.nateliason.com/lessons/" target="_blank">notes on everything he learn from books</a> and shares them publicly.</p>

  <h2><a href="http://jamesclear.com/book-summaries" target="_blank">James Clear’s book summaries</a> (and <a href="http://jamesclear.com/best-books" target="_blank">recommended reading list</a>)</h2>

  <p>James writes about behavioral psychology, habit formation, and performance improvement. And he he’s curated two great resources: (1) <a href="http://jamesclear.com/book-summaries" target="_blank">summaries of books he’s read</a>, with full book summaries for each, and (2) a <a href="http://jamesclear.com/best-books" target="_blank">recommended reading list</a> of the best books in a wide range of genres.</p>

  <h2><a href="http://books.austinkleon.com/" target="_blank">Austin Kleon’s book recommendations</a></h2>

  <p>Austin is the author of multiple New York Times <a href="http://amzn.to/2nkNNpj" target="_blank">best-sellers</a>. He keeps a running<a href="http://books.austinkleon.com/" target="_blank">list of books he reads</a>, and every year he makes <a href="http://books.austinkleon.com/about" target="_blank">a list of his favorites</a>.</p>

  <h2>Browse your local library</h2>

  <p>The main benefit I’ve found with libraries is that you generally find books on a wider range of topics, many of which are older that what you’d find in a bookstore. Most big-box retailers only stock the best-sellers, and you’re far more likely to find unique and uncommon books at the library. Of course, another benefit is that you can rent books for free. But I’ve personally found that, for some reason, when I get books for free, I never end up reading them. Also since you have to give them back, you can’t take notes in the margins or reference them in the future, which I think is super important. I generally use the library for discovering books, and then go home and order them online.</p>

  <h2>Follow other people’s <a href="http://amzn.to/2mTXQ9B" target="_blank">Amazon Wish Lists</a></h2>

  <p>You can either <a href="https://www.amazon.com/gp/registry/search" target="_blank">search to find people’s list</a>, or if you know them personally just ask them for their wishlist URL. For example, <a href="https://www.amazon.com/gp/registry/wishlist/3SN0URZZF74G0/" target="_blank">here’s mine</a> and <a href="https://www.amazon.com/gp/registry/wishlist/3CCBV5Q0UDIXI/" target="_blank">here’s one I follow</a>. Once you find a list you like, click the “Add friend” button, and then it will show up in the Wish List section of your Amazon account.</p>

  <h2>A few more (un-explored) resources</h2>

  <p>Here are a few more sources that I found recently. I haven’t used any them myself yet, but many of them look quite promising:</p>

  <ul>
    <li><a href="https://www.farnamstreetblog.com/2016/10/23-book-recommendations-mark-zuckerberg/" target="_blank">Mark Zuckerburg’s book club: a year of books</a></li>
    <li><a href="http://tuckermax.me/the-tucker-max-reading-list-most-influential/" target="_blank">Tucker Max’s reading list: most personally influential</a></li>
    <li><a href="https://qz.com/698242/the-essential-marc-andreessen-summer-reading-list/" target="_blank">The essential Marc Andreessen summer reading list</a></li>
    <li>Tyler Cowen’s favorite non-fiction books of <a href="http://marginalrevolution.com/marginalrevolution/2015/11/best-non-fiction-books-of-2015.html" target="_blank">2015</a> and <a href="http://marginalrevolution.com/marginalrevolution/2016/11/best-books-of-2016.html" target="_blank">2016</a> (and <a href="http://marginalrevolution.com/marginalrevolution/category/books" target="_blank">the ‘books’ category</a> on his blog)</li>
    <li><a href="http://larslofgren.com/business-books" target="_blank">Lars Lofgren: What I’ve Read</a></li>
    <li><a href="https://www.susanjfowler.com/reading-list/" target="_blank">Susan J. Fowler’s Reading List</a></li>
    <li><a href="https://personalmba.com/best-business-books/" target="_blank">The Personal MBA Recommended Reading List: The 99 Best Business Books</a></li>
  </ul>

  <hr>

  <p>Like I said before, these are the sources I've used over the last few years to find the books that have had the biggest influence on my life. I hope you find something that makes you think and helps you continue to grow.<p>

  <p><em>I'll continue to refine this list as I find more/better sources to discover great books.</em></p>
</section>
