<section class="now">
  <h2>What I'm doing now</h2>
  <p class="small"><em>
    (This is <a href="http://nownownow.com/about" target="_blank">a now page</a>, and if you have your own site, <a href="http://nownownow.com/about" target="_blank">you should make one</a>, too.)
  </em></p>
  <img src="./images/xavi.jpg">
  <p>
    <strong>Family</strong> – Currently on paternity leave. Spending the first few months hanging out with my wife and son. We recently moved to Southern California, so we’re still getting moved in. Enjoying the beach and the sun.
  </p><p>
    <strong>Book notes</strong> – I’ve been reading a lot. For ~6 years I’ve taken detailed notes on the books I read. But I never did anything with them. They just sat in my notebooks at home. But I decided to put them to better use. So I've started typing them up and <a href="./books">posting them here on this site</a>. That way I can easily reference them in the future. And maybe others will find them helpful, too.
  </p><p>
    <strong>Learning JavaScript</strong> – For the last few weeks I’ve been reading <a href="http://learnpythonthehardway.com" target="_blank">Learn Python the Hard Way</a> and going through the exercises. But the Buffer website is written in HTML/CSS/JavaScript. And it makes more sense to be learning JS right now. So I picked up <a href="https://www.amazon.com/JavaScript-Kids-Playful-Introduction-Programming/dp/1593274084" target="_blank">JavaScript for Kids</a> – which is an amazing primer and makes learning the language fun. Not dry like most programming books I’ve found.
  </p><p>
    <strong>Buffer</strong> – Once I go back to work I’ll be managing the Buffer website, running experiments to try to increase conversion rate and signups for our product. I’m grateful that I had the privilidge to spend 12 weeks on <a href="https://open.buffer.com/managers-guide-family-leave/" target="_blank">paternity-leave</a> with my family. This was time I'll never forget. And I’m also excited to get back and contribute to the team.
  </p><p>
    Spencer
  </p><p>
    <em>This update was on March 30, 2017.</em>
  </p>
</section>
