<section>
  <h1>Projects</h1>
  <dl>
    <dt><strong><a href="/recommended">Recommended Books</a></strong></dt>
    <dd>Books that have had an outsized impact on my thinking in business and life</dd>
    <br>
    <dt><strong><a href="/reading">What I'm Reading</a></strong></dt>
    <dd>A running list of the books I've read and tiny summary of each</dd>
    <br>
    <dt><strong><a href="/next">What Should I Read Next?</a></strong></dt>
    <dd>The resources I personally use to find great books to read</dd>
    <br>
    <dt><strong><a href="/best">The Best Things I've Read, Watched or Listened To</a></strong></dt>
    <dd>Things I've found that have provoked a great deal of thought</dd>
    <br>
    <dt><strong><a href="/code">spencerlanoue.com</a></strong></dt>
    <dd>The hand-crafted JavaScript code that makes this site</dd>
    <!--
    <br>
    <dt><strong><a href="/guest">Guest Posts</a></strong></dt>
    <dd>Articles I've written for Fast Company, Entrepreneur, and more</dd>
    -->
  </dl>
</section>
