<section>
<h2>Currently Making</h2>
<dl>
  <dt><strong><a href="/books">Book Notes</a></strong></dt>
  <dd>Detailed notes from the books I've read</dd>
  <br>
  <dt><strong><a href="/compilations">Compilations</a></strong></dt>
  <dd>Collections of passages I've compiled during my reading and research</dd>
  <br>
  <dt><strong><a href="/code">spencerlanoue.com</a></strong></dt>
  <dd>The hand-crafted JavaScript code that makes this site</dd>
</dl>

<h2>Already done</h2>
<dl>
  <dt><strong><a href="/guestposts">Guest Posts</a></strong></dt>
  <dd>Articles I wrote for Fast Company, Entrepreneur.com, Buffer, KissMetrics, UserTesting, and more</dd>
  <br>
</dl>

<h2>Maybe someday</h2>
<dl>
  <dt><strong>Best Articles</strong></dt>
  <dd>A collection of articles from around the Interwebs that have have a significant impact on my thinking on a number of topics over the years</dd>
  <br>
</dl>
