<section>
  <h1>What I'm Reading</h1>

  <p>A list of all the books I've read, sorted in chronological order. For the curious among you, here's how I find <a href="/next">which books to read next.</a> And if you want to see which books I have my eye on, check my <a href="https://www.amazon.com/gp/registry/wishlist/3SN0URZZF74G0/" target="_blank">Amazon Wishlist</a>.</p>

  <hr>

  <h2>2017</h2>
  <ul>
    <li><a href="https://www.amazon.com/Diary-Juliet-Thompson/dp/0933770278/" target="_blank">The Diary of Juliet Thompson,</a> by Juliet Thompson</li>
    <li><a href="https://www.amazon.com/Perennial-Seller/dp/1781257663/" target="_blank">Perennial Seller: The Art of Making and Marketing Work That Lasts,</a> by Ryan Holiday</li>
    <li><a href="https://www.amazon.com/Dip-Little-Book-Teaches-Stick/dp/1591841666/" target="_blank">The Dip: A Little Book That Teaches You When to Quit (and When to Stick),</a> by Seth Godin</li>
    <li><a href="https://www.amazon.com/Fourth-Transformation-Robert-Scoble/dp/1539894444/" target="_blank">The Fourth Transformation: How Augmented Reality & Artificial Intelligence Will Change Everything,</a> by Robert Scoble</li>
    <li><a href="https://www.amazon.com/Masters-Doom-Created-Transformed-Culture/dp/0812972155/" target="_blank">Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture,</a> by David Kushner</li>
    <li><a href="https://www.amazon.com/You-Are-Not-Gadget-Manifesto/dp/0307389979/" target="_blank">You Are Not a Gadget: A Manifesto,</a> by Jaron Lanier</li>
    <li><a href="https://www.amazon.com/80-20-Principle-Secret-Achieving/dp/0385491743/" target="_blank">The 80/20 Principle: The Secret to Achieving More with Less,</a> by Richard Koch</li>
    <li><a href="https://www.amazon.com/Coach-Wooden-Me-50-Year-Friendship/dp/145554227X/" target="_blank">Coach Wooden and Me: Our 50-Year Friendship On and Off the Court,</a> by Kareem Abdul-Jabbar</li>
    <li><a href="https://www.amazon.com/Sleepeasy-Solution-Exhausted-Parents-Getting/dp/0757305601/" target="_blank">The Sleepeasy Solution: The Exhausted Parent's Guide to Getting Your Child to Sleep - from Birth to Age 5,</a> by Jennifer Waldburger and Jill Spivack</li>
    <li><a href="https://www.amazon.com/Peak-Performance-Elevate-Burnout-Science/dp/162336793X/" target="_blank">Peak Performance: Elevate Your Game, Avoid Burnout, and Thrive with the New Science of Success,</a> by Brad Stulberg and Steve Magness</li>
    <li><a href="https://www.amazon.com/Make-Your-Money-Genius-Youre/dp/1476766819/" target="_blank">Make Your Kid A Money Genius (Even If You're Not): A Parents' Guide for Kids 3 to 23,</a> by Beth Kobliner</li>
    <li><a href="https://www.amazon.com/Subtle-Art-Not-Giving-Counterintuitive/dp/0062457713/" target="_blank">The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life,</a> Mark Manson</li>
    <li><a href="https://www.amazon.com/AskGaryVee-Entrepreneurs-Leadership-Social-Self-Awareness/dp/B01A5UKWRU/" target="_blank">#AskGaryVee: One Entrepreneur's Take on Leadership, Social Media, and Self-Awareness,</a> by Gary Vaynerchuk</li>
    <li><a href="https://www.amazon.com/Crush-Time-Cash-Passion-Hardcover/dp/B003QPYKMA/" target="_blank">Crush It!: Why NOW Is the Time to Cash In on Your Passion,</a> by Gary Vaynerchuk</li>
    <li><a href="https://www.amazon.com/Personal-MBA-Master-Art-Business/dp/1591845572/" target="_blank">The Personal MBA: Master the Art of Business,</a> by Josh Kaufman</li>
    <li><a href="https://www.amazon.com/Hacking-Growth/dp/0753545373/" target="_blank">Hacking Growth: How Today's Fastest-Growing Companies Drive Breakout Success,</a> by Sean Ellis and Morgan Brown</li>
    <li><a href="https://www.amazon.com/Millionaire-Next-Door-Surprising-Hardcover/dp/B003WYKCKO/" target="_blank">The Millionaire Next Door: The Surprising Secrets of America's Wealthy,</a> by Thomas Stanley and William Danko</li>
    <li><a href="https://www.mrmoneymustache.com/2011/04/06/meet-mr-money-mustache/" target="_blank">Mr. Money Mustache,</a> by Peter Adeney (start at the first article in the archives and read your way up to the present using the links at the bottom of each article)</li>
    <li><a href="https://www.amazon.com/Conscious-Parent-Transforming-Ourselves-Empowering/dp/1897238452/" target="_blank">The Conscious Parent: Transforming Ourselves, Empowering Our Children,</a> by Dr. Shefali Tsabary</li>
    <li><a href="https://www.amazon.com/Shop-Class-Soulcraft-Inquiry-Value/dp/0143117467/" target="_blank">Shop Class as Soulcraft: An Inquiry into the Value of Work,</a> by Matthew Crawford</li>
    <li><a href="https://www.amazon.com/Average-Over-Powering-America-Stagnation/dp/0142181110/" target="_blank">Average Is Over: Powering America Beyond the Age of the Great Stagnation,</a> by Tyler Cowen</li>
    <li><a href="https://www.amazon.com/Revenge-Analog-Real-Things-Matter/dp/1610395719/" target="_blank">The Revenge of Analog: Real Things and Why They Matter,</a> by David Sax</li>
    <li><a href="https://www.amazon.com/View-Cheap-Seats-Selected-Nonfiction/dp/0062262270/" target="_blank">The View from the Cheap Seats: Selected Nonfiction,</a> by Neil Gaiman</li>
    <li><a href="https://www.amazon.com/Graveyard-Book-Neil-Gaiman/dp/0060530944/" target="_blank">The Graveyard Book,</a> by Neil Gaiman</li>
    <li><a href="https://www.amazon.com/Endurance-Shackletons-Incredible-Alfred-Lansing/dp/0465062881/" target="_blank">Endurance: Shackleton's Incredible Voyage,</a> by Alfred Lansing</li>
    <li><a href="https://www.amazon.com/Norse-Mythology-Neil-Gaiman/dp/039360909X/" target="_blank">Norse Mythology,</a> by Neil Gaiman</li>
    <li><a href="https://www.amazon.com/Turning-Pro-Inner-Power-Create/dp/1936891034/" target="_blank">Turning Pro: Tap Your Inner Power and Create Your Life's Work,</a> by Steven Pressfield</li>
    <li><a href="https://www.amazon.com/StrengthsFinder-2-0-Tom-Rath/dp/159562015X/" target="_blank">StrengthsFinder 2.0,</a> by Tom Rath</li>
    <li><a href="https://www.amazon.com/Throwing-Rocks-Google-Bus-Prosperity/dp/014313129X/" target="_blank">Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity,</a> by Douglas Rushkoff</li>
  </ul>

  <hr>

  <h2>2016</h2>
  <ul>
    <li><a href="https://www.amazon.com/gp/product/0967122325/" target="_blank">The Principles of Correct Practice for Guitar: The Perfect Start for Beginners and the Answer to the Problems of Players,</a> by Jamie Andreas</li>
    <li><a href="https://www.amazon.com/When-Breath-Becomes-Paul-Kalanithi/dp/081298840X/" target="_blank">When Breath Becomes Air,</a> by Paul Kalanithi</li>
    <li><a href="https://www.amazon.com/Do-Work-Overcome-Resistance-Your/dp/1936891379/" target="_blank">Do the Work: Overcome Resistance and Get Out of Your Own Way,</a> by Steven Pressfield</li>
    <li><a href="https://www.amazon.com/Learned-Million-Columbia-Business-Publishing/dp/0231164688/" target="_blank">What I Learned Losing a Million Dollars,</a> by Jim Paul and Brendan Moynihan</li>
    <li><a href="https://www.amazon.com/Behind-Cloud-Salesforce-com-Billion-Dollar-Company/dp/B00332AFUC/" target="_blank">Behind the Cloud: The Untold Story of How Salesforce.com Went from Idea to Billion-Dollar Company-and Revolutionized an Industry,</a> by Marc Benioff</li>
    <li><a href="https://www.amazon.com/Winning-Data-Transform-Culture-Empower/dp/1119257239/" target="_blank">Winning with Data: Transform Your Culture, Empower Your People, and Shape the Future,</a> by Tomasz Tunguz and Frank Bien</li>
    <li><a href="https://www.amazon.com/80-000-Hours-fulfilling-career/dp/1537324004/" target="_blank">80,000 Hours: Find a fulfilling career that does good,</a> by Benjamin Todd</li>
    <li><a href="https://www.amazon.com/How-Lost-170-Million-Dollars/dp/161961300X/" target="_blank">How I Lost 170 Million Dollars: My Time as #30 at Facebook,</a> by Noah Kagan</li>
    <li><a href="https://www.amazon.com/gp/product/0321884914/" target="_blank">Learn Python the Hard Way: A Very Simple Introduction to the Terrifyingly Beautiful World of Computers and Code,</a> by Zed Shaw</li>
    <li><a href="https://www.amazon.com/gp/product/1931847517/" target="_blank">The Secret of Divine Civilization,</a> by Abdul-Baha</li>
    <li><a href="https://www.amazon.com/Anything-You-Want-Lessons-Entrepreneur/dp/1591848261/" target="_blank">Anything You Want: 40 Lessons for a New Kind of Entrepreneur,</a> by Derek Sivers</li>
    <li><a href="https://www.amazon.com/Mothers-Fathers-Children-Practical-Parents/dp/0853980950" target="_blank">Mothers, Fathers, and Children: Practical Advice to Parents,</a> by Ali-Akbar Furutan</li>
    <li><a href="https://www.amazon.com/Impossible-Inevitable-Hyper-Growth-Companies-Predictable/dp/1119166713/" target="_blank">From Impossible To Inevitable: How Hyper-Growth Companies Create Predictable Revenue,</a> by Jason Lemkin and Aaron Ross</li>
    <li><a href="https://www.amazon.com/Peak-Secrets-New-Science-Expertise/dp/0544947223/" target="_blank">Peak: Secrets from the New Science of Expertise,</a> by Andres Ericsson</li>
    <li><a href="https://www.amazon.com/First-20-Hours-Learn-Anything/dp/1591846943/" target="_blank">The First 20 Hours: How to Learn Anything... Fast!,</a> by Josh Kaufman</li>
    <li><a href="https://www.amazon.com/Home-Game-Accidental-Guide-Fatherhood/dp/0393338096/" target="_blank">Home Game: An Accidental Guide to Fatherhood,</a> by Michael Lewis</li>
    <li><a href="https://www.amazon.com/Surely-Feynman-Adventures-Curious-Character/dp/0393316041/" target="_blank">Surely You're Joking, Mr. Feynman! (Adventures of a Curious Character),</a> by Richard Feynman</li>
    <li><a href="https://www.amazon.com/gp/product/1449390544/" target="_blank">Head First HTML5 Programming: Building Web Apps with JavaScript,</a> by Eric Freeman and Elisabeth Robson</li>
    <li><a href="https://www.amazon.com/Bringing-Up-Bébé-Discovers-Parenting/dp/0143122967/" target="_blank">Bringing Up Bébé: One American Mother Discovers the Wisdom of French Parenting,</a> by Pamela Druckerman</li>
    <li><a href="https://www.amazon.com/Rules-Knight-Ethan-Hawke/dp/0307962334/" target="_blank">Rules for a Knight,</a> by Ethan Hawke</li>
    <li><a href="https://www.amazon.com/How-Will-Measure-Your-Life/dp/0062102419/" target="_blank">How Will You Measure Your Life?,</a> by Clayton Christensen</li>
    <li><a href="https://www.amazon.com/Alchemist-Paulo-Coelho/dp/0062315005/" target="_blank">The Alchemist,</a> by Paulo Coelho</li>
    <li><a href="https://www.amazon.com/Zen-Art-Motorcycle-Maintenance-Inquiry/dp/0060589469/" target="_blank">Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values,</a> by Robert Persig</li>
    <li><a href="https://www.amazon.com/Art-Learning-Journey-Optimal-Performance/dp/0743277465/" target="_blank">The Art of Learning: An Inner Journey to Optimal Performance,</a> by Josh Waitzkin</li>
    <li><a href="https://www.amazon.com/Score-Takes-Care-Itself-Philosophy/dp/1591843472/" target="_blank">The Score Takes Care of Itself: My Philosophy of Leadership,</a> by Bill Walsh</li>
    <li><a href="https://www.amazon.com/Tribe-Homecoming-Belonging-Sebastian-Junger/dp/1455566381/" target="_blank">Tribe: On Homecoming and Belonging,</a> by Sebastian Junger</li>
    <li><a href="https://www.amazon.com/Ego-Enemy-Ryan-Holiday/dp/1591847818/" target="_blank">Ego Is the Enemy,</a> by Ryan Holiday</li>
    <li><a href="https://www.amazon.com/Traction-Startup-Achieve-Explosive-Customer/dp/0241242533/" target="_blank">Traction: How Any Startup Can Achieve Explosive Customer Growth,</a> by Gabriel Weinberg and Justin Mares</li>
    <li><a href="https://www.amazon.com/Chaos-Monkeys-Obscene-Fortune-Failure/dp/0062458191/" target="_blank">Chaos Monkeys: Obscene Fortune and Random Failure in Silicon Valley,</a> by Antonio Garcia Martinez</li>
    <li><a href="https://www.amazon.com/gp/product/1932841881/" target="_blank">The Google Boys: Sergey Brin and Larry Page In Their Own Words,</a> by George Breahm</li>
    <li><a href="https://www.amazon.com/gp/product/1591842247/" target="_blank">Talent Is Overrated: What Really Separates World-Class Performers from Everybody Else,</a> by Geoff Colvin</li>
    <li><a href="https://www.amazon.com/Path-Toward-Spirituality-Sacred-Practices/dp/B000JJOJSQ/" target="_blank">The Path Toward Spirituality: Sacred Duties and Practices of the Baha'i Life,</a> by Shahin Vafai</li>
    <li><a href="https://www.amazon.com/Essentialism-Disciplined-Pursuit-Greg-McKeown/dp/0753555166/" target="_blank">Essentialism: The Disciplined Pursuit of Less,</a> by Greg McKeown</li>
    <li><a href="https://www.amazon.com/Rework-Jason-Fried/dp/0307463745/" target="_blank">Rework,</a> by Jason Fried and David Heinemeier Hansson</li>
    <li><a href="https://www.amazon.com/gp/product/1118960874/" target="_blank">The Lean Product Playbook: How to Innovate with Minimum Viable Products and Rapid Customer Feedback,</a> by Dan Olsen</li>
    <li><a href="https://www.amazon.com/Sprint-Solve-Problems-Test-Ideas/dp/0593076117/" target="_blank">Sprint: How to Solve Big Problems and Test New Ideas in Just 5 Days,</a> by Jake Knapp</li>
    <li><a href="https://www.amazon.com/gp/product/1455548561/" target="_blank">The Practitioner's Guide to Product Management,</a> by Jock Busuttil</li>
    <li><a href="https://www.amazon.com/gp/product/1101903988/" target="_blank">Born for This: How to Find the Work You Were Meant to Do,</a> by Chris Guillebeau</li>
    <li><a href="https://www.amazon.com/Shoe-Dog-Memoir-Creator-Nike/dp/1501135910/" target="_blank">Shoe Dog: A Memoir by the Creator of Nike,</a> by Phil Knight</li>
    <li><a href="https://www.amazon.com/gp/product/0316306088/" target="_blank">Disrupted: My Misadventure in the Start-Up Bubble,</a> by Dan Lyons</li>
    <li><a href="https://www.amazon.com/gp/product/0062301233/" target="_blank">Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future,</a> by Ashlee Vance</li>
    <li><a href="https://www.amazon.com/gp/product/0525429565/" target="_blank">Originals: How Non-Conformists Move the World,</a> by Adam Grant</li>
    <li><a href="https://www.amazon.com/Getting-Real-Smarter-Successful-Application/dp/0578012812/" target="_blank">Getting Real: The Smarter, Faster, Easier Way to Build a Successful Web Application,</a> by Jason Fried and David Heinemeier Hansson</li>
    <li><a href="https://www.amazon.com/gp/product/0805822321/" target="_blank">The Road To Excellence: The Acquisition of Expert Performance in the Arts and Sciences, Sports, and Games,</a> by Anders Ericsson</li>
    <li><a href="https://www.amazon.com/gp/product/0470529393/" target="_blank">Web Analytics 2.0: The Art of Online Accountability and Science of Customer Centricity,</a> by Avinash Kaushik</li>
    <li><a href="https://www.amazon.com/Crossing-Chasm-3rd-Disruptive-Mainstream/dp/0062292986/" target="_blank">Crossing the Chasm: Marketing and Selling Disruptive Products to Mainstream Customers,</a> by Geoffrey Moore</li>
  </ul>

  <hr>

  <h2>2015</h2>
  <ul>
    <li><a href="https://www.amazon.com/gp/product/1455586692/" target="_blank">Deep Work: Rules for Focused Success in a Distracted World,</a> by Cal Newport</li>
    <li><a href="https://www.amazon.com/gp/product/0062273205/" target="_blank">The Hard Thing About Hard Things: Building a Business When There Are No Easy Answers,</a> by Ben Horowitz</li>
    <li><a href="https://www.amazon.com/gp/product/0140442103/" target="_blank">Letters from a Stoic,</a> by Seneca</li>
    <li><a href="https://www.amazon.com/gp/product/080701429X/" target="_blank">Man's Search for Meaning,</a> by Viktor Frankl</li>
    <li><a href="http://info.wealthfront.com/rs/wealthfront/images/2013_Silicon_Valley_Career_Guide.pdf" target="_blank">2013 Silicon Valley Career Guide,</a> by Andy Rachleff</li>
    <li><a href="https://www.amazon.com/gp/product/1401301304/" target="_blank">What Got You Here Won't Get You There: How Successful People Become Even More Successful,</a> by Marshall Goldsmith</li>
    <li><a href="https://www.amazon.com/Show-Your-Work-Austin-Kleon/dp/076117897X/" target="_blank">Show Your Work! 10 Ways to Share Your Creativity and Get Discovered,</a> by Austin Kleon</li>
    <li><a href="https://www.amazon.com/Steal-Like-Artist-Things-Creative/dp/0761169253/" target="_blank">Steal Like an Artist: 10 Things Nobody Told You About Being Creative,</a> by Austin Kleon</li>
    <li><a href="https://www.amazon.com/Stories-Bahaullah-Furutan/dp/0853982430/" target="_blank">Stories of Baha'u'llah,</a> by Ali-Akbar Furutan</li>
    <li><a href="https://www.amazon.com/Master-Akka-Myron-H-Phelps/dp/1890688150/" target="_blank">The Master in Akka,</a> by Myron Phelps</li>
    <li><a href="https://www.amazon.com/gp/product/0062302450/" target="_blank">Smartcuts: How Hackers, Innovators, and Icons Accelerate Success,</a> by Shane Snow</li>
    <li><a href="https://www.amazon.com/gp/product/1455509124/" target="_blank">So Good They Can't Ignore You,</a> by Cal Newport</li>
    <li><a href="https://www.amazon.com/50th-Law-50-Cent/dp/006177460X/" target="_blank">The 50th Law,</a> by Robert Greene and 50 Cent</li>
    <li><a href="https://www.amazon.com/Modern-Romance-Aziz-Ansari/dp/0143109251/" target="_blank">Modern Romance,</a> by Aziz Ansari</li>
    <li><a href="https://www.amazon.com/gp/product/1576759776/" target="_blank">Leadership and Self-Deception: Getting Out of the Box,</a> by The Arbinger Institute</li>
    <li><a href="https://www.amazon.com/gp/product/1591847389/" target="_blank">Growth Hacker Marketing: A Primer on the Future of PR, Marketing, and Advertising,</a> by Ryan Holiday</li>
    <li><a href="https://www.amazon.com/Youtility-Smart-Marketing-about-Help/dp/1591846668/" target="_blank">Youtility: Why Smart Marketing Is about Help Not Hype,</a> by Jay Baer</li>
    <li><a href="" target="_blank">The Start-up of You: Adapt to the Future, Invest in Yourself, and Transform Your Career,</a> by Reid Hoffman</li>
    <li><a href="https://www.amazon.com/gp/product/1591846285/" target="_blank">Trust Me, I'm Lying: Confessions of a Media Manipulator,</a> by Ryan Holiday</li>
    <li><a href="https://www.amazon.com/gp/product/0718022076/" target="_blank">The Art of Work: A Proven Path to Discovering What You Were Meant to Do,</a> by Jeff Goins</li>
    <li><a href="https://www.amazon.com/Reality-Man-Bahaullah-AbduL-Baha/dp/0877430268/" target="_blank">The Reality of Man,</a> by Baha'u'llah and Abdul-Baha</li>
    <li><a href="https://www.amazon.com/Obstacle-Way-Timeless-Turning-Triumph/dp/1591846358/" target="_blank">The Obstacle Is the Way: The Timeless Art of Turning Trials into Triumph,</a> by Ryan Holiday</li>
    <li><a href="https://www.amazon.com/gp/product/0143112783/" target="_blank">The 33 Strategies of War,</a> by Robert Greene</li>
    <li><a href="https://www.amazon.com/gp/product/0804139296/" target="_blank">Zero to One: Notes on Startups, or How to Build the Future,</a> by Peter Thiel</li>
    <li><a href="https://www.amazon.com/gp/product/1416526668/" target="_blank">Permission Marketing,</a> by Seth Godin</li>
    <li><a href="https://www.amazon.com/gp/product/0964479613/" target="_blank">Learn to Play Go: A Master's Guide to the Ultimate Game, Vol. 1,</a> by Janice Kim and Jeong Soo-Hyun</li>
    <li><a href="https://www.amazon.com/Book-Five-Rings-Classic-Japanese/dp/1590302486/" target="_blank">The Book of Five Rings: A Classic Text on the Japanese Way of the Sword,</a> by Miyamoto Musashi</li>
    <li><a href="https://www.amazon.com/gp/product/0767900464/" target="_blank">The Fourth Turning: An American Prophecy - What the Cycles of History Tell Us About America's Next Rendezvous with Destiny,</a> by William Strauss and Neil Howe</li>
    <li><a href="https://www.amazon.com/gp/product/0787960756/" target="_blank">The Five Dysfunctions of a Team: A Leadership Fable,</a> by Patrick Lencioni</li>
    <li><a href="https://www.amazon.com/Hooked-How-Build-Habit-Forming-Products/dp/1591847788/" target="_blank">Hooked: How to Build Habit-Forming Products,</a> by Nir Eyal</li>
    <li><a href="https://www.amazon.com/Will-Teach-You-Be-Rich/dp/0761147489/" target="_blank">I Will Teach You To Be Rich,</a> by </li>
    <li><a href="https://www.amazon.com/gp/product/1484825985/" target="_blank">The Boron Letters,</a> by Gary Halbert</li>
    <li><a href="https://www.amazon.com/Kitab-i-Iqan-Book-Certitude-Baha-llah/dp/1931847088/" target="_blank">The Book of Certitude,</a> by Baha'u'llah</li>
    <li><a href="https://www.amazon.com/Boots-Ground-Dusk-Tribute-Tillman/dp/1594868808/" target="_blank">Boots on the Ground by Dusk: My Tribute to Pat Tillman,</a> by Mary Tillman</li>
    <li><a href="https://www.amazon.com/gp/product/0140280197/" target="_blank">The 48 Laws of Power,</a> by Robert Greene</li>
    <li><a href="https://www.amazon.com/gp/product/1936891026/" target="_blank">The War of Art: Break Through the Blocks and Win Your Inner Creative Battles,</a> by Steven Pressfield</li>
    <li><a href="https://www.amazon.com/Mastery-Robert-Greene/dp/014312417X/" target="_blank">Mastery,</a> by Robert Greene</li>
    <li><a href="https://www.amazon.com/21-Irrefutable-Laws-Leadership-Anniversary/dp/0785288376/" target="_blank">The 21 Irrefutable Laws of Leadership: Follow Them and People Will Follow You,</a> by John Maxwell</li>
    <li><a href="https://www.amazon.com/Meditations-Translation-Marcus-Aurelius-2003-05-06/dp/B01N4HXUYQ/" target="_blank">Meditations,</a> by Marcus Aurelius (the Gregory Hayes translation)</li>
    <li><a href="https://www.amazon.com/Good-Great-Some-Companies-Others/dp/0066620996/" target="_blank">Good to Great: Why Some Companies Make the Leap and Others Don't,</a> by Jim Collins</li>
    <li><a href="https://www.amazon.com/gp/product/0544002695/" target="_blank">Big Data: A Revolution That Will Transform How We Live, Work, and Think,</a> by Viktor Mayer-Schönberger and Kenneth Cukier</li>
    <li><a href="https://www.amazon.com/Dont-Make-Think-Revisited-Usability/dp/0321965515/" target="_blank">Don't Make Me Think, Revisited: A Common Sense Approach to Web Usability,</a> by Steve Krug</li>
    <li><a href="https://www.amazon.com/gp/product/0670921602/" target="_blank">The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses,</a> by Eric Ries</li>
    <li><a href="https://www.amazon.com/gp/product/1440511411/" target="_blank">The Ultimate Sales Letter: Attract New Customers. Boost your Sales,</a> by Dan Kennedy</li>
  </ul>

  <hr>

  <h2>2014</h2>
  <ul>
    <li><a href="https://www.amazon.com/gp/product/0385512058/" target="_blank">Never Eat Alone: And Other Secrets to Success, One Relationship at a Time,</a> by Keith Ferrazzi</li>
    <li><a href="https://www.amazon.com/Tribes-We-Need-You-Lead/dp/1591842336" target="_blank">Tribes: We Need You to Lead Us,</a> by Seth Godin</li>
    <li><a href="https://www.amazon.com/Ignore-Everybody-Other-Keys-Creativity/dp/159184259X/" target="_blank">Ignore Everybody: and 39 Other Keys to Creativity,</a> by Hugh MacLeod</li>
    <li><a href="https://www.globalprosperity.org/library" target="_blank">Participating in the Prevalent Discourses of Society,</a> by The Institute for Studies in Global Prosperity</li>
    <li><a href="https://www.amazon.com/Tablets-Divine-Plan-Revealed-AbduL-Baha/dp/0877432333/" target="_blank">Tablets of the Divine Plan: Revealed by Abdul-Baha to the North American Baha'is,</a> by Abdul-Baha</li>
    <li><a href="https://www.amazon.com/Wrinkle-Time-Quintet/dp/0312367546/" target="_blank">A Wrinke in Time,</a> by Madeleine L'Engle</li>
    <li><a href="https://www.amazon.com/Play-Away-Workaholics-Cure-Anxiety/dp/0615918174/" target="_blank">Play It Away: A Workaholic's Cure for Anxiety,</a> by Charlie Hoehn</li>
    <li><a href="https://www.amazon.com/gp/product/0989895300/" target="_blank">This book will teach you how to write better,</a> by Neville Medhora</li>
    <li><a href="https://www.amazon.com/Fortress-Well-Being-Bahai-Teachings-Marriage/dp/0877430705/" target="_blank">A Fortress for Well-Being: Baha'i Teachings on Marriage,</a> by Baha'i Publishing Trust</li>
    <li><a href="https://www.amazon.com/Selected-Writing-Shoghi-Effendi/dp/B000PRRC3Q/" target="_blank">Selected Writings of Shoghi Effendi,</a> by Shoghi Effendi</li>
    <li><a href="https://www.amazon.com/Priceless-Pearl-Ruhiyyih-Rabbani/dp/1870989929/" target="_blank">The Priceless Pearl,</a> by Ruhiyyih Rabbani</li>
    <li><a href="https://www.amazon.com/Flame-Story-Lua-Talisman/dp/0853980306/" target="_blank">The Flame: The Story of Lua Getsinger,</a> by William Sears</li>
    <li><a href="https://www.amazon.com/Influence-Psychology-Persuasion-Robert-Cialdini/dp/006124189X/" target="_blank">Influence: The Psychology of Persuasion,</a> by Robert Cialdini</li>
    <li><a href="https://www.amazon.com/Paris-Talks-Abdul-Baha/dp/1477469656/" target="_blank">Paris Talks,</a> by Abdul-Baha</li>
    <li><a href="https://www.amazon.com/Tipping-Point-Little-Things-Difference/dp/0316346624/" target="_blank">The Tipping Point: How Little Things Can Make a Big Difference,</a> by Malcolm Gladwell</li>
    <li><a href="https://www.amazon.com/Recession-Proof-Graduate-Want-Doing/dp/0990354814/" target="_blank">Recession Proof Graduate: How to Get The Job You Want by Doing Free Work,</a> by Charlie Hoehn</li>
    <li><a href="http://www.sethgodin.com/sg/docs/bootstrap.pdf" target="_blank">The Bootstrapper's Bible,</a> by Seth Godin</li>
  </ul>

  <hr>

  <h2>2013 and earlier</h2>
  <ul>
    <li><a href="https://www.amazon.com/Prescription-Living-Ruhiyyih-Rabbani/dp/0853980039/" target="_blank">Prescription for Living,</a> by Ruhiyyih Rabbani</li>
    <li><a href="https://www.amazon.com/How-Win-Sport-Business-Can/dp/1626810915/" target="_blank">How to Win at the Sport of Business: If I Can Do It, You Can Do It,</a> by Mark Cuban</li>
    <li><a href="https://www.amazon.com/Four-Agreements-Practical-Personal-Freedom/dp/1878424319/" target="_blank">The Four Agreements: A Practical Guide to Personal Freedom,</a> by Don Miguel Ruiz</li>
    <li><a href="https://www.amazon.com/Creating-New-Mind-Reflections-Institutions/dp/1890101206/" target="_blank">Creating a New Mind: Reflections on the Individual, the Institutions and the Community,</a> by Paul Lample</li>
    <li><a href="https://www.amazon.com/advent-divine-justice-Shoghi-Effendi/dp/0877432287/" target="_blank">The Advent of Divine Justice,</a> by Shoghi Effendi</li>
    <li><a href="https://www.amazon.com/Let-Go-Pat-Flynn-ebook/dp/B00CFAGZBG/" target="_blank">Let Go,</a> by Pat Flynn</li>
    <li><a href="https://www.amazon.com/Tao-Wu-RZA/dp/1594484856/" target="_blank">The Tao of Wu,</a> by The RZA</li>
    <li><a href="https://www.amazon.com/Way-Peaceful-Warrior-Changes-Lives/dp/1932073205/" target="_blank">Way of the Peaceful Warrior: A Book That Changes Lives,</a> by Dan Millman</li>
    <li><a href="https://www.amazon.com/Platform-Get-Noticed-Noisy-World/dp/159555503X/" target="_blank">Platform: Get Noticed in a Noisy World,</a> by Michael Hyatt</li>
    <li><a href="https://www.amazon.com/Living-Forward-Proven-Plan-Drifting/dp/080101882X/" target="_blank">Living Forward: A Proven Plan to Stop Drifting and Get the Life You Want,</a> by Michael Hyatt and Daniel Harkavy</li>
    <li><a href="https://www.amazon.com/Coach-Woodens-Pyramid-Success-Wooden/dp/0800726251/" target="_blank">Coach Wooden's Pyramid of Success: Building Blocks for a Better Life,</a> by John Wooden</li>
    <li><a href="https://www.amazon.com/Gleanings-Writings-Bahaullah/dp/1931847223/" target="_blank">Gleanings from the Writings of Baha'u'llah,</a> compiled by Shoghi Effendi</li>
    <li><a href="https://www.amazon.com/Way-Superior-Man-Challenges-Anniversary/dp/1622038320/" target="_blank">The Way of the Superior Man,</a> by David Deida</li>
    <li><a href="https://www.amazon.com/Seven-Valleys-Four/dp/1546636862/" target="_blank">The Seven Valleys and the Four Valleys,</a> by Baha'u'llah</li>
    <li><a href="https://www.amazon.com/Some-Answered-Questions-Abdul-Baha/dp/0877431620/" target="_blank">Some Answered Questions,</a> by Abdul-Baha</li>
    <li><a href="https://www.amazon.com/Thief-Night-Case-Missing-Millennium/dp/085398008X/" target="_blank">Thief in the Night, The Case of the Missing Millennium,</a> by William Sears</li>
    <li><a href="https://www.amazon.com/Hidden-Words-Bahaullah/dp/193184707X/" target="_blank">The Hidden Words,</a> by Baha'u'llah</li>
    <li><a href="https://www.amazon.com/gp/product/0853982767/" target="_blank">Finding the Real You,</a> by Viv Bartlett</li>
    <li><a href="https://www.amazon.com/Change-Your-Brain-Revised-Expanded/dp/110190464X/" target="_blank">Change Your Brain, Change Your Life,</a> by Daniel Amen</li>
    <li><a href="https://www.amazon.com/Second-Ring-Power-Carlos-Castaneda/dp/0671732471/" target="_blank">The Second Ring of Power,</a> by Carlos Casteneda</li>
    <li><a href="https://www.amazon.com/Master-Key-System-Charles-Haanel/dp/1604502754/" target="_blank">The Master Key System,</a> by Charles F. Haanel</li>
    <li><a href="https://www.amazon.com/Psycho-Cybernetics-Maxwell-Maltz/dp/0671221507/" target="_blank">Psycho-Cybernetics: Tap into the Power of Your Subconsious Mind,</a> by Maxwell Maltz</li>
    <li><a href="https://www.amazon.com/4-Hour-Workweek-Escape-Live-Anywhere/dp/0307465357/" target="_blank">The 4-Hour Workweek: Escape 9-5, Live Anywhere, and Join the New Rich,</a> by Tim Ferriss</li>
    <li><a href="https://www.amazon.com/Achievement-Proven-System-Next-Level-Growth/dp/0982666500/" target="_blank">Achievement: A Proven System for Next-Level Growth,</a> by David Byrd and Mark Smith</li>
    <li><a href="https://chrisguillebeau.com/files/2009/04/279days.pdf" target="_blank">279 Days to Overnight Success: An Unconventional Journey to Full-Time Writing,</a> by Chris Guillebeau</li>
    <li><a href="https://www.amazon.com/Art-Non-Conformity-Rules-Change-Perigee/dp/0399536108/" target="_blank">The Art of Non-Conformity: Set Your Own Rules, Live the Life You Want, and Change the World,</a> by Chris Guillebeau</li>
    <li><a href="https://www.amazon.com/Game-N-Strauss/dp/1782118934/" target="_blank">The Game: Undercover in the Secret Society of Pickup Artists,</a> by Neil Strauss</li>
    <li><a href="https://www.amazon.com/Level-Your-Life-Adventure-Happiness/dp/B01B8IRSDY/" target="_blank">Level Up Your Life: How to Unlock Adventure and Happiness by Becoming the Hero of Your Own Story,</a> by Steve Kamb</li>
    <li><a href="https://www.amazon.com/Start-Why-Leaders-Inspire-Everyone/dp/1591846447/" target="_blank">Start with Why: How Great Leaders Inspire Everyone to Take Action,</a> by Simon Sinek</li>
    <li><a href="https://www.amazon.com/Personal-Development-Smart-People-Conscious/dp/1401922767/" target="_blank">Personal Development for Smart People: The Conscious Pursuit of Personal Growth,</a> by Steve Pavlina</li>
    <li><a href="https://www.amazon.com/Think-Grow-Rich-Law-Success/dp/1435120647/" target="_blank">Think & Grow Rich and The Law of Success,</a> by Napoleon Hill</li>
    <li><a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034/" target="_blank">How to Win Friends and Influence People,</a> by Dale Carnegie</li>
    <li><a href="https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/1451639619/" target="_blank">The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change,</a> by Stephen Covey</li>
  </ul>
</section>
