<section>
  <h1>Reading Lists</h1>

  <p>A distillation of the best books I read each year.</p>

  <ul>
    <li><a href="https://ADD-URL-HERE.com" target="_blank">The Best Books I Read in 2017</a></li>
    <li><a href="https://ADD-URL-HERE.com" target="_blank">Summer Reading List 2017</a></li>
    <li><a href="https://ADD-URL-HERE.com" target="_blank">The Best Books I Read in 2016</a></li>
    <li><a href="https://ADD-URL-HERE.com" target="_blank">INSERT BOOK NAME HERE</a></li>
    <li><a href="https://ADD-URL-HERE.com" target="_blank">The Best Books I Read in 2015</a></li>
    <li><a href="https://ADD-URL-HERE.com" target="_blank">INSERT BOOK NAME HERE</a></li>
    <li><a href="https://ADD-URL-HERE.com" target="_blank">The Best Books I Read in 2014</a></li>
  </ul>
</section>
