<section>
  <h1>Recommended Books</h1>

  <p>These are the books that have had an outsized impact on my thinking in life and business.</p>

  <h2>Books to Live Your Life By</h2>
  <ul>
    <li><a href="https://www.amazon.com/gp/product/080701429X/" target="_blank">Man's Search for Meaning,</a> by Viktor Frankl</li>
    <li><a href="https://www.amazon.com/Meditations-Translation-Marcus-Aurelius-2003-05-06/dp/B01N4HXUYQ/" target="_blank">Meditations,</a> by Marcus Aurelius (the Gregory Hayes translation), and <a href="https://www.amazon.com/gp/product/0140442103/" target="_blank">Letters from a Stoic,</a> by Seneca</li>
    <li><a href="https://www.amazon.com/gp/product/1936891026/" target="_blank">The War of Art: Break Through the Blocks and Win Your Inner Creative Battles,</a> by Steven Pressfield, as well as his two other books, <a href="https://www.amazon.com/Turning-Pro-Inner-Power-Create/dp/1936891034/" target="_blank">Turning Pro: Tap Your Inner Power and Create Your Life's Work</a> and <a href="https://www.amazon.com/Do-Work-Overcome-Resistance-Your/dp/1936891379/" target="_blank">Do the Work: Overcome Resistance and Get Out of Your Own Way</a></li>
    <li><a href="https://www.amazon.com/Score-Takes-Care-Itself-Philosophy/dp/1591843472/" target="_blank">The Score Takes Care of Itself: My Philosophy of Leadership,</a> by Bill Walsh</li>
    <li><a href="https://www.amazon.com/gp/product/1455509124/" target="_blank">So Good They Can't Ignore You,</a> by Cal Newport and his followup, <a href="https://www.amazon.com/gp/product/1455586692/" target="_blank">Deep Work: Rules for Focused Success in a Distracted World</a></li>
    <li><a href="https://www.amazon.com/Ego-Enemy-Ryan-Holiday/dp/1591847818/" target="_blank">Ego Is the Enemy,</a> by Ryan Holiday, and his other book on Stoic Philosophy <a href="https://www.amazon.com/Obstacle-Way-Timeless-Turning-Triumph/dp/1591846358/" target="_blank">The Obstacle Is the Way: The Timeless Art of Turning Trials into Triumph</a></li>
    <li><a href="https://www.amazon.com/How-Will-Measure-Your-Life/dp/0062102419/" target="_blank">How Will You Measure Your Life?,</a> by Clayton Christensen</li>
    <li><a href="https://www.amazon.com/Tao-Wu-RZA/dp/1594484856/" target="_blank">The Tao of Wu,</a> by The RZA</li>
    <li><a href="https://www.amazon.com/Dawn-Breakers-Nabils-Narrative-Early-Revelation/dp/0877430926/" target="_blank">The Dawn-Breakers: Nabil's Narrative of the Early Days of the Baha'i Revelation,</a> by Nabil Zarandi, as well as <a href="https://www.amazon.com/Some-Answered-Questions-Translated-Abdul-Baha/dp/1331803691/" target="_blank">Some Answered Questions,</a> by Abdul-Baha and <a href="https://www.amazon.com/Kitab-i-Iqan-Book-Certitude-Baha-llah/dp/1931847088/" target="_blank">The Book of Certitude,</a> by Baha'u'llah</li>
  </ul>

  <h2>Business & Marketing</h2>
  <ul>
    <li><a href="https://www.amazon.com/Perennial-Seller/dp/1781257663/" target="_blank">Perennial Seller: The Art of Making and Marketing Work That Lasts,</a> by Ryan Holiday</li>
    <li><a href="https://www.amazon.com/gp/product/1416526668/" target="_blank">Permission Marketing,</a> by Seth Godin</li>
    <li><a href="https://www.amazon.com/Traction-Startup-Achieve-Explosive-Customer/dp/0241242533/" target="_blank">Traction: How Any Startup Can Achieve Explosive Customer Growth,</a> by Gabriel Weinberg and Justin Mares</li>
    <li><a href="https://www.amazon.com/Personal-MBA-Master-Art-Business/dp/1591845572/" target="_blank">The Personal MBA: Master the Art of Business,</a> by Josh Kaufman</li>
    <li><a href="https://www.amazon.com/Getting-Real-Smarter-Successful-Application/dp/0578012812/" target="_blank">Getting Real: The Smarter, Faster, Easier Way to Build a Successful Web Application,</a> by Jason Fried and David Heinemeier Hansson</li>
    <li><a href="https://www.amazon.com/gp/product/0787960756/" target="_blank">The Five Dysfunctions of a Team: A Leadership Fable,</a> by Patrick Lencioni</li>
    <li><a href="https://www.amazon.com/Anything-You-Want-Lessons-Entrepreneur/dp/1591848261/" target="_blank">Anything You Want: 40 Lessons for a New Kind of Entrepreneur,</a> by Derek Sivers</li>
    <li><a href="https://www.amazon.com/Rework-Jason-Fried/dp/0307463745/" target="_blank">Rework,</a> by Jason Fried and David Heinemeier Hansson</li>
  </ul>
  <h3>Other Business Books</h3>
  <ul>
    <li><a href="https://www.amazon.com/Throwing-Rocks-Google-Bus-Prosperity/dp/014313129X/" target="_blank">Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity,</a> by Douglas Rushkoff</li>
    <li><a href="https://www.amazon.com/Learned-Million-Columbia-Business-Publishing/dp/0231164688/" target="_blank">What I Learned Losing a Million Dollars,</a> by Jim Paul and Brendan Moynihan</li>
    <li><a href="https://www.amazon.com/Behind-Cloud-Salesforce-com-Billion-Dollar-Company/dp/B00332AFUC/" target="_blank">Behind the Cloud: The Untold Story of How Salesforce.com Went from Idea to Billion-Dollar Company-and Revolutionized an Industry,</a> by Marc Benioff</li>
    <li><a href="https://www.amazon.com/Ignore-Everybody-Other-Keys-Creativity/dp/159184259X/" target="_blank">Ignore Everybody: and 39 Other Keys to Creativity,</a> by Hugh MacLeod</li>
    <li><a href="https://www.amazon.com/Essentialism-Disciplined-Pursuit-Greg-McKeown/dp/0753555166/" target="_blank">Essentialism: The Disciplined Pursuit of Less,</a> by Greg McKeown</li>
    <li><a href="https://www.amazon.com/Crossing-Chasm-3rd-Disruptive-Mainstream/dp/0062292986/" target="_blank">Crossing the Chasm: Marketing and Selling Disruptive Products to Mainstream Customers,</a> by Geoffrey Moore</li>
    <li><a href="https://www.amazon.com/gp/product/1484825985/" target="_blank">The Boron Letters,</a> by Gary Halbert</li>
  </ul>

  <h2>Strategy</h2>
  <ul>
    <li><a href="https://www.amazon.com/gp/product/0140280197/" target="_blank">The 48 Laws of Power,</a> by Robert Greene and <a href="https://www.amazon.com/gp/product/0143112783/" target="_blank">The 33 Strategies of War</a></li>
    <li><a href="https://www.amazon.com/Book-Five-Rings-Classic-Japanese/dp/1590302486/" target="_blank">The Book of Five Rings: A Classic Text on the Japanese Way of the Sword,</a> by Miyamoto Musashi</li>
    <li><a href="https://www.amazon.com/Dip-Little-Book-Teaches-Stick/dp/1591841666/" target="_blank">The Dip: A Little Book That Teaches You When to Quit (and When to Stick),</a> by Seth Godin</li>
  </ul>

  <h2>Mastery, Learning & Skill Development</h2>
  <ul>
    <li><a href="https://www.amazon.com/Peak-Secrets-New-Science-Expertise/dp/0544947223/" target="_blank">Peak: Secrets from the New Science of Expertise,</a> by Andres Ericsson</li>
    <li><a href="https://www.amazon.com/Mastery-Robert-Greene/dp/014312417X/" target="_blank">Mastery,</a> by Robert Greene</li>
    <li><a href="https://www.amazon.com/Art-Learning-Journey-Optimal-Performance/dp/0743277465/" target="_blank">The Art of Learning: An Inner Journey to Optimal Performance,</a> by Josh Waitzkin</li>
    <li><a href="https://www.amazon.com/gp/product/1591842247/" target="_blank">Talent Is Overrated: What Really Separates World-Class Performers from Everybody Else,</a> by Geoff Colvin</li>
    <li><a href="https://www.amazon.com/First-20-Hours-Learn-Anything/dp/1591846943/" target="_blank">The First 20 Hours: How to Learn Anything... Fast!,</a> by Josh Kaufman</li>
    <li><a href="https://www.amazon.com/Peak-Performance-Elevate-Burnout-Science/dp/162336793X/" target="_blank">Peak Performance: Elevate Your Game, Avoid Burnout, and Thrive with the New Science of Success,</a> by Brad Stulberg and Steve Magness</li>
  </ul>

  <h2>Biographies</h2>
  <ul>
    <li><a href="https://www.amazon.com/Masters-Doom-Created-Transformed-Culture/dp/0812972155/" target="_blank">Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture,</a> by David Kushner</li>
    <li><a href="https://www.amazon.com/Surely-Feynman-Adventures-Curious-Character/dp/0393316041/" target="_blank">Surely You're Joking, Mr. Feynman! (Adventures of a Curious Character),</a> by Richard Feynman</li>
    <li><a href="https://www.amazon.com/Shoe-Dog-Memoir-Creator-Nike/dp/1501135910/" target="_blank">Shoe Dog: A Memoir by the Creator of Nike,</a> by Phil Knight</li>
    <li><a href="https://www.amazon.com/Boots-Ground-Dusk-Tribute-Tillman/dp/1594868808/" target="_blank">Boots on the Ground by Dusk: My Tribute to Pat Tillman,</a> by Mary Tillman</li>
    <li><a href="https://www.amazon.com/Priceless-Pearl-Ruhiyyih-Rabbani/dp/1870989929/" target="_blank">The Priceless Pearl,</a> by Ruhiyyih Rabbani and <a href="https://www.amazon.com/Flame-Story-Lua-Talisman/dp/0853980306/" target="_blank">The Flame: The Story of Lua Getsinger,</a> by William Sears</li>
    <li><a href="https://www.amazon.com/Coach-Wooden-Me-50-Year-Friendship/dp/145554227X/" target="_blank">Coach Wooden and Me: Our 50-Year Friendship On and Off the Court,</a> by Kareem Abdul-Jabbar</li>
    <li><a href="https://www.amazon.com/Endurance-Shackletons-Incredible-Alfred-Lansing/dp/0465062881/" target="_blank">Endurance: Shackleton's Incredible Voyage,</a> by Alfred Lansing</li>
  </ul>

  <h2>Personal Finance</h2>
  <ul>
    <li><a href="https://www.amazon.com/Will-Teach-You-Be-Rich/dp/0761147489/" target="_blank">I Will Teach You To Be Rich,</a> by </li>
    <li><a href="https://www.amazon.com/Millionaire-Next-Door-Surprising-Hardcover/dp/B003WYKCKO/" target="_blank">The Millionaire Next Door: The Surprising Secrets of America's Wealthy,</a> by Thomas Stanley and William Danko</li>
    <li><a href="https://www.mrmoneymustache.com/2011/04/06/meet-mr-money-mustache/" target="_blank">Mr. Money Mustache,</a> by Peter Adeney (start at the first article in the archives and read your way up to the present using the links at the bottom of each article)</li>
  </ul>

  <h2>Fiction</h2>
  <ul>
    <li><a href="https://www.amazon.com/Graveyard-Book-Neil-Gaiman/dp/0060530944/" target="_blank">The Graveyard Book,</a> by Neil Gaiman</li>
    <li><a href="https://www.amazon.com/Alchemist-Paulo-Coelho/dp/0062315005/" target="_blank">The Alchemist,</a> by Paulo Coelho</li>
    <li><a href="https://www.amazon.com/Way-Peaceful-Warrior-Changes-Lives/dp/1932073205/" target="_blank">Way of the Peaceful Warrior: A Book That Changes Lives,</a> by Dan Millman</li>
    <li><a href="https://www.amazon.com/Norse-Mythology-Neil-Gaiman/dp/039360909X/" target="_blank">Norse Mythology,</a> by Neil Gaiman</li>
  </ul>
</section>
