<section>
  <h1>{{title}}</h1>
  <date>{{date}}</date>

  <p>When I first moved to Palo Alto in 2013, I used to love going to the Stanford library.</p>

  <p>I'd go there to work, to read, to write, and sometimes just to think.</p>

  <p>Once, when I was exploring the stacks, I ended up in the dimly-lit basement level of the library - where I found a desk covered in graffiti from students who'd left notes written in pen.</p>

  <p>Some of them revealed the stress and anxiety of overwhelmed students who were overwhelmed. Others offered support and motivation.</p>

  <p>Altogether, they give a glimpse into the inner thoughts and feelings of college students in a high-pressure, high-performance environment.</p>

  <p>I read every single note on that desk, and recorded them for posterity. Hope you find them as thought-provoking as I did.</p>

  <hr>

  <p>"You don't have to feel alone, you're the only one who controls your life and if you only choose to let people hurt you, you will never see those who don't"</p>

  <p>"By the time anyone reads this, I'll be dead. I can't do this anymore. The lies, the pain, it's just too much. I want it all to stop & this is all I have left now. Some of you know what you've done to me, maybe some of you have no idea. Well, I hope you are happy. As for the rest of you.... maybe you didn't hurt me, but you did nothing to help either. I can't deal with this on my own anymore. Goodbye."</p>

  <p>"Strike with authority"</p>

  <p>"Things may not be how you want them to be<br>
  Things may not go how you want them to go<br>
  Things you may want the world to see<br>
  May be the hardest in the world to show<br>
  And while things may not turn out right<br>
  Each moment is a chance to learn<br>
  Look at the negatives in a new light<br>
  And positive they will turn<br>
  Your world will be new<br>
  Better with your sight<br>
  This makes your best shine through<br>
  And your dark days bright"</p>

  <p>"Hey you. Yeah you. You got this"</p>

  <p>"Just because you're broken doesn't mean you will never be fixed. There is so much love in the world, all you have to do is let yourself be loved"</p>

  <p>"Love hurts"</p>

  <p>"It's your responsibility to change the world. Do you have the guts to do it?"</p>

  <p>"I forget what it's like to really love someone"</p>

  <p>"I'm afraid of being lonely, always"</p>

  <p>"I fall in love too easily and I'm too much of a p**** to fall out"</p>

  <p>"I miss her like frost on windows"</p>

  <p>"For well you know that it's a fool who plays it cool by making his world a little colder"</p>

  <p>"Never regret the chances you took"</p>

  <p>"Why can't I eat without feeling guilty?"</p>

  <p>"We are all dying. Live while you can but don't forget to plan ahead"</p>

  <p>"I am terrified to admit that I find more solace in her eyes than his"<br>
  → "Beauty knows no gender. Follow your heart"</p>

  <p>"Love sucks, life blows"</p>

  <p>"Smile"</p>

  <p>"Look into my eyes. What are you afraid of?"</p>

  <p>"Stop objectifying women"</p>

  <p>"There's no failing, there's only quitting"</p>

  <p>"Success is peace of mind which is a direct result of self-satisfaction in knowing you did your best to become the best you that you are capable of being, day in and day out, pushing your comfort zone, growing, knowing there wasn't anything else I could possibly do, that I gave my absolute best effort, and I left it all out on the court."</p>

  <p>"Stay strong everyone"</p>

  <p>"Change"<br>
  → "Why? What kind? Change for the sake of change is stupid"</p>

  <p>"We can change the world by changing ourselves"</p>

  <p>"Who are you becoming?"</p>

  <p>"What does your conscience say? You shall become the person you are"</p>

  <p>"Big wheel keep on turning"</p>

  <p>"The woods are lovely, dark, and deep,  But I have promises to keep,  and miles to go before I sleep.  -Robert Frost"</p>

  <p>"<strike>I don't know how much longer</strike> I can do this"</p>

  <p>"There will come a time, you'll see,<br>
  with no more tears.<br>
  And love will not break your heart,<br>
  but dismiss your fears.<br>
  Get over your hill and see,<br>
  what you'll find there.<br>
  With grace in your heart,<br>
  and flowers in your hair."</p>

  <p>"Not getting an A in every class is not the same as failing. Life is not about getting A's in every class! S*** happens. Life happens. Move on and get over it"</p>

  <p>"Be humble for you are made of the earth,<br>
  Be noble for you are made of the stars."</p>

  <p>"Steve Jobs, survivor of cancer & creator of Apple, applied his interest in his own "designed" way but didn't necessarily do well in his classes. Cultural icon, history maker, and science advancer Albert Einstein did not excel in school because he didn't put in the effort, but he too was brilliant & passionate & can inspire future innovators & leaders & professions & future generations"</p>

  <p>"Some one help"</p>

  <p>"The graffiti makes me feel less lonely, thanks guys"</p>

  <p>"Never forget, this is Stanford!"</p>

  <p>"I have never been more terrified"</p>

  <p>"Life begins after normal"</p>

  <p>"Nobody loves me"</p>

  <p>"Make the very best of Stanford"</p>

  <p>"Stanford is just a microcosm, a preview of life, and for some it is life. So if you can make it here you're doing pretty well. Then again, if you aren't you can learn from what went wrong and make the best of the world and life as it unfolds. Invest your time wisely."</p>

  <p>"I love this:<br>
  -Desk<br>
  -University<br>
  -Life"</p>

  <p>"Far better is it to dare mighty things, to win glorious triumphs, even though checkered by failure... than to rank with these poor spirits who neither enjoy nor suffer well, because they live in a grey twilight that knows neither victory nor defeat  -Teddy Roosevelt"</p>

  <p>"You can do anything you set your mind to. Make the choice. Slow down. A brain in a state of anxiety cannot function effectively or make decisions. You're the brightest mind in the world. You're brilliant. We need your best work. So slow down and do what you can"</p>

  <hr>

  <p>There was something raw and unsettling about the graffiti on that desk.</p>

  <p>I think it collectively expressed an unspoken truth shared by many students around the country. Things they'd never say out loud.</p>

  <p>A friend in Palo Alto once said to me:</p>

  <p><quote>"Stanford students are like swans. Calm and collected above the water, but kicking frantically under the water."</quote></p>

  <p>Obviously that's a generalization. But there's definitely some truth to it. And I think it equally applies to students at every prestigious, top-tier university.</p>

  <p>The notes on this desk give us a brief glimpse under the water.</p>
</section>
