<section>
  <h1>Stanford desk graffiti: anonymous notes that reveal the inner thoughts of students at a top-tier university</h1>

  <p>When I first moved to Palo Alto back in 2013, I used to love going to the library at Stanford. </p>

  <p>I'd go there to work, to read, to write, and sometimes just to think. </p>

  <p>One time I was wandering around the building, exploring, and somehow I ended up making my way all the down to the basement level (the South Stacks of the Green Library).</p>

   <p>The lighting was dim, the room was musty, and no one was there but me. It had an strange, eerie sense to it, but I thought there was something interesting about it. </p>

   <p>I found a desk in the back corner of the basement, and I sat myself down to do some reading. But when I looked a bit more closely at the desk, I noticed it was covered in graffiti, messages written in pen by a large number of different students at different times. </p>

   <p>I started reading a few of them and couldn't help noticing how dark and sad many of them were. </p>

   <p>But there was something beautiful and interesting about them, too. </p>

   <p>It was like a collection of thoughts that many students had, but that they were never able to say out loud. They kept them held inside, only to share them with the other anonymous students who somehow found their way to this random desk, in the dark corner of an old dingy library basement. </p>

   <p>I read every single note on that desk, and wrote them down in a notebook for posterity. </p>

   <p>I recently found them when going through my old journals and thought they encapsulated a certain unspoken part of the human experience that was worth sharing, one that many young college students seem to be feeling and going through alone.</p>

   <p>When I told a friend about the desk, they said something I'll never forget:</p>

  <p><quote>"Stanford students are like swans. Calm and collected above the water, but kicking frantically under the water."</quote></p>

  <p>I don't mean to pick on Stanford in particular, because I think it applies to students at all top-tier universities. It's just one of the many symtoms of a deeper illness in the life of our society, and it's perfectly encapsulated by the following notes, written by anonymous students on a desk for nobody to find. </p>

  <hr>

  <p>"You don't have to feel alone, you're the only one who controls your life and if you only choose to let people hurt you, you will never see those who don't"</p>

  <p>"By the time anyone reads this, I'll be dead. I can't do this anymore. The lies, the pain, it's just too much. I want it all to stop & this is all I have left now. Some of you know what you've done to me, maybe some of you have no idea. Well, I hope you are happy. As for the rest of you.... maybe you didn't hurt me, but you did nothing to help either. I can't deal with this on my own anymore. Goodbye."</p>

  <p>"Strike with authority"</p>

  <p>"Things may not be how you want them to be<br>
  Things may not go how you want them to go<br>
  Things you may want the world to see<br>
  May be the hardest in the world to show<br>
  And while things may not turn out right<br>
  Each moment is a chance to learn<br>
  Look at the negatives in a new light<br>
  And positive they will turn<br>
  Your world will be new<br>
  Better with your sight<br>
  This makes your best shine through<br>
  And your dark days bright"</p>

  <p>"Hey you. Yeah you. You got this"</p>

  <p>"Just because you're broken doesn't mean you will never be fixed. There is so much love in the world, all you have to do is let yourself be loved"</p>

  <p>"Love hurts"</p>

  <p>"It's your responsibility to change the world. Do you have the guts to do it?"</p>

  <p>"I forget what it's like to really love someone"</p>

  <p>"I'm afraid of being lonely, always"</p>

  <p>"I fall in love too easily and I'm too much of a pussy to fall out"</p>

  <p>"I miss her like frost on windows"</p>

  <p>"For well you know that it's a fool who plays it cool by making his world a little colder"</p>

  <p>"Never regret the chances you took"</p>

  <p>"Why can't I eat without feeling guilty?"</p>

  <p>"We are all dying. Live while you can but don't forget to plan ahead"</p>

  <p>"I am terrified to admit that I find more solace in her eyes than his"<br>
  → "Beauty knows no gender. Follow your heart"</p>

  <p>"Love sucks, life blows"</p>

  <p>"Smile"</p>

  <p>"Look into my eyes. What are you afraid of?"</p>

  <p>"Stop objectifying women"</p>

  <p>"There's no failing, there's only quitting"</p>

  <p>"Success is peace of mind which is a direct result of self-satisfaction in knowing you did your best to become the best you that you are capable of being, day in and day out, pushing your comfort zone, growing, knowing there wasn't anything else I could possibly do, that I gave my absolute best effort, and I left it all out on the court."</p>

  <p>"Stay strong everyone"</p>

  <p>"Change"<br>
  → "Why? What kind? Change for the sake of change is stupid"</p>

  <p>"Have the grit, have the balls to face your fears, to face the most brutal aspects of your current reality. Denial is a river in Egypt. Love, courage, discipline, honor, justice, valiant deeds, truth"</p>

  <p>"We can change the world by changing ourselves"</p>

  <p>"Who are you becoming?"</p>

  <p>"What does your conscience say? You shall become the person you are"</p>

  <p>"Big wheel keep on turning"</p>

  <p>"The woods are lovely, dark, and deep,  But I have promises to keep,  and miles to go before I sleep.  -Robert Frost"</p>

  <p>"<strike>I don't know how much longer</strike> I can do this"</p>

  <p>"There will come a time, you'll see,<br>
  with no more tears.<br>
  And love will not break your heart,<br>
  but dismiss your fears.<br>
  Get over your hill and see,<br>
  what you'll find there.<br>
  With grace in your heart,<br>
  and flowers in your hair."</p>

  <p>"Not getting an A in every class is not the same as failing. Life is not about getting A's in every class! Shit happens. Life happens. Move on and get over it"</p>

  <p>"Be humble for you are made of the earth,<br>
  Be noble for you are made of the stars."</p>

  <p>"Steve Jobs, survivor of cancer & creator of Apple, applied his interest in his own "designed" way but didn't necessarily do well in his classes. Cultural icon, history maker, and science advancer Albert Einstein did not excel in school because he didn't put in the effort, but he too was brilliant & passionate & can inspire future innovators & leaders & professions & future generations"</p>

  <p>"Some one help"</p>

  <p>"The graffiti makes me feel less lonely, thanks guys"</p>

  <p>"Never forget, this is Stanford!"</p>

  <p>"I have never been more terrified"</p>

  <p>"Life begins after normal"</p>

  <p>"Nobody loves me"</p>

  <p>"Make the very best of Stanford"</p>

  <p>"Stanford is just a microcosm, a preview of life, and for some it is life. So if you can make it here you're doing pretty well. Then again, if you aren't you can learn from what went wrong and make the best of the world and life as it unfolds. Invest your time wisely."</p>

  <p>"I love this:<br>
  -Desk<br>
  -University<br>
  -Life"</p>

  <p>"Far better is it to dare mighty things, to win glorious triumphs, even though checkered by failure... than to rank with these poor spirits who neither enjoy nor suffer well, because they live in a grey twilight that knows neither victory nor defeat  -Teddy Roosevelt"</p>

  <p>"You can do anything you set your mind to. Make the choice. Slow down. A brain in a state of anxiety cannot function effectively or make decisions. You're the brightest mind in the world. You're brilliant. We need your best work. So slow down and do what you can"</p>

  <hr>

  <!--
  - I dont mean to pick on stanford students in particularly, i think it's representative the students all top-tier universities who feel a lot of pressure to succeed or do something importnant

  - and even more importantly, the pressure we're putting on the youth in America

  - after living in Palo Alto for a few years and getting to know a number of middle school and high school students in the community, and watching as multiple kids took their own lives because they felt too much pressure,




      From what I've seen the commonly accepted road to happiness and success is this:

      Get straight A's in school. Join multiple extra-curricular activities and ideally become the president or captain. Get into a prestigious university. Graduate the top of your class. Become a doctor, lawyer, engineer, startup founder, or get into some other equally high-status profession.

      If you make it, you'll be successful, well-respected, and admired by your peers. And if you don't, you're a nobody. Worse, you're a disappointment.





      But from what I've seen, this seems to be a dangerous narrative. One that leads to hyper-competitive environments, chronic status anxiety, unhealthy relationships, depression, and far more pressure than is healthy for high school and college students.


      and far more pressure than is healthy for a high school student

      competition
      politics
      jockeying for attention
      status anxiety
      depression
      unhealthy realtionships
      pressure
      overwhelm

      and in the end they achieve their goal, they arrive at the place they always dreamed of, and it's never enough. they feel like they've been duped.



      when we make young people think their lives only have meaning if they achieve something huge, when we pressure them to obsessively focus on being the best and beating everyone else around them,


      encourage young people to obsessively









    And voila! Now you're officially "successful." You've achieved the American Dream.

    Look, I've not nothing against achievement and wanting to contribute something meaningful to the world, something that improves people's lives and helps move our society forward (or as they say in Silicon Valley, "make the world a better place.")

    I'd say I definitely fall into that camp myself.

    But from what I've seen, we run into serious problems when we become obsessively focused on achievement, for the sake of our own perso


    're single-mindedly focused - no, obsessed - with achievement for the sake
  -->

</section>
