body {
  max-width: 640px;
  margin: auto;
  padding: 20px;
  padding-top: 0px;
  font-family: Georgia, serif;
}

h1 {
  font-size: 34px;
  line-height: 34px;
  color: #000;
}

h2 {
  font-size: 26px;
  line-height: 26px;
  color: #000;
  padding-top: 30px;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

p, li, dl, dt, dd, quote {
  font-size: 20px;
  line-height: 34px;
  color: #333;
}

li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: #2200BB;
}

a:visited {
  color: #551A8B;
}

a:hover {
  text-decoration: underline;
}

quote {
  display: block;
  font-style: italic;
  margin-left: 40px;
}

hr {
  margin: 40px auto;
}

footer p {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-top: 60px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -10px;
}

.header h1 {
  font-size: 51px;
  line-height: 51px;
}

.header div {
  padding-right: 10px;
}

.navigation div {
  display: inline-block;
  padding: 0 5px;
}

.navigation {
  padding-bottom: 20px;
}

.see-all {
  padding-left: 20px;
  font-size: 20px;
  font-weight: lighter;
}



/*
body {
  max-width: 640px;
  margin: auto;
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, serif;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 16px;
}

p, li {
  font-family: Georgia, serif;
  font-size: 19px;
  line-height: 30px;
  color: #000;
}

li {
  padding: 10px 0;
}

a {
  color: #2200BB;
  text-decoration: none;
}

a:visited {
  color: #551A8B;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 40px auto;
}

.header {
  padding: 10px 0px;
}

.header li {
  display: inline-block;
  padding: 0 2px;
}

*/
